<section class="bg-light py-3 py-md-5">
  <div class="container">
    <div class="heading">ログイン</div>
    <div class="form">
      <div class="form-body">
        <% if @error_message %>
          <div class="form-error"><%= @error_message %></div>
        <% end %>
        <%= form_tag("/login") do %>
          <p>メールアドレス</p>
          <input name="email" value="<%= @email %>">
          <p>パスワード</p>
          <input name="password" type="password" value="<%= @password %>">
          <input type="submit" value="ログイン">
        <% end %>
      </div>
    </div>
  </div>
</section>
