<section class="bg-light py-3 py-md-5">
  <div class="container">
    <div class="heading">本の登録</div>
    <div class="form">
      <div class="form-body">
        <% if @book.errors.full_messages %>
          <% @book.errors.full_messages.each do |message| %>
            <%= message %>
          <% end %>
        <% end %>
        <%= form_tag("/books/signup",{multipart:true}) do %>
          <p>タイトル</p>
          <input name="name" value="<%= @name %>">
          <p>内容</p>
          <textarea name="content" value="<%= @content %>"></textarea>
          <p>画像</p>
          <input name="image" type="file">
          <input type="submit" value="新規登録">
        <% end %>
      </div>
    </div>
  </div>
</section>
